APP_IMAGE=sub2api-zzv2
IMAGE_TAG=latest

BIND_HOST=127.0.0.1
HOST_PORT=18080
SERVER_MODE=release
SERVER_FRONTEND_URL=http://111.228.39.25
SERVER_TRUSTED_PROXIES=127.0.0.1
RUN_MODE=standard
TZ=Asia/Shanghai

POSTGRES_USER=sub2api
POSTGRES_PASSWORD=change_this_secure_password
POSTGRES_DB=sub2api
DATABASE_MAX_OPEN_CONNS=50
DATABASE_MAX_IDLE_CONNS=10

REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=1024
REDIS_MIN_IDLE_CONNS=10

ADMIN_EMAIL=admin@sub2api.local
ADMIN_PASSWORD=

JWT_SECRET=change_this_64_hex_secret
JWT_EXPIRE_HOUR=24
TOTP_ENCRYPTION_KEY=change_this_64_hex_secret

SECURITY_URL_ALLOWLIST_ENABLED=false
SECURITY_URL_ALLOWLIST_ALLOW_INSECURE_HTTP=false
SECURITY_URL_ALLOWLIST_ALLOW_PRIVATE_HOSTS=false
SECURITY_URL_ALLOWLIST_UPSTREAM_HOSTS=
UPDATE_PROXY_URL=

GEMINI_OAUTH_CLIENT_ID=
GEMINI_OAUTH_CLIENT_SECRET=
GEMINI_CLI_OAUTH_CLIENT_SECRET=
ANTIGRAVITY_OAUTH_CLIENT_SECRET=
OPS_ENABLED=false
